*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-container{
    overflow: hidden;
    min-height: 100vh;
}

.header-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    background-color: rgb(19, 146, 175);
    transform: rotate(-9deg) scale(130%) translateY(-70px); 
}

.picAboutMeContainer{
    max-width: 70%;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(9deg) translateY(70px);
}

.header-bg img{
    box-shadow: 0 5px 10px rgb(189, 189, 189);
    width: 100%;
    height: 200px;
}

.aboutMe{
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 10px rgb(189, 189, 189);
    padding: 10px;
    max-width: 100%;
    height: 150px;
}

.bottomAbout{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.projects-bg{
    min-height: 500px;
    padding: 20px;
    margin-top: 75px;
}

.work-card-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 100%;
    
}

.work-card-container:nth-child(2) .cardContainer .mywork{
    background-color: red;
}
.cardContainer:nth-child(2) .mywork{
    visibility: hidden;
}
.cardContainer:nth-child(3) .mywork{
    visibility: hidden;
}

.card{
    box-shadow: 0 1px 10px rgb(185, 184, 184);
    max-width: 300px;
}

.card .screenShot{
    width: 300px;
    height: 250px;
}

.projectLinks{
    display: flex;
    gap: 10px;
}

.cardContainer:first-child .card .screenShot{
    background-color: rgb(254, 97, 97);
}
.cardContainer:nth-child(2) .card .screenShot{
    background-color: rgb(146, 88, 203);
}
.cardContainer:nth-child(3) .card .screenShot{
    background-color: green;
}
.cardContainer:nth-child(4) .card .screenShot{
    background-color: rgb(185, 76, 94);
}
.cardContainer:nth-child(5) .card .screenShot{
    background-color: gold;
}
.cardContainer:nth-child(6) .card .screenShot{
    background-color: lightblue;
}


.card .projectInfo{
    /* border: 1px solid black; */
    display: block;
    min-height: 175px;
    padding: 20px;
    /* word-wrap: break-word; */
}

.project-name{
    display: flex;
    justify-content: space-between;
}

.project-description{
    margin-top: 10px;
}

.footer-bg
{
    background-color: rgb(19, 146, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.contact{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerImg{
    height: 275px;
    display: flex;
    align-items: center;
}

.footerImg img{
    height: 200px;
    box-shadow: 0px 5px 10px rgb(14, 104, 124);

}

@media (max-width: 800px){
    .picAboutMeContainer{
        flex-direction: column;
        margin-top: 200px;
    }

    .work-card-container{
        margin-top: 175px;
        display: flex;
        flex-direction: column;
    }

    .aboutMe{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        height: 175px;
    }

    .bottomAbout{
        justify-content: center;
        position: relative;
        align-items: flex-end;
    }

    .mywork{
        display: flex;
        justify-content: center;
    }

    .footer-bg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactMe{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .bottomContact{
        display: flex;
        justify-content: center;
    }
}